    <section class="new-entry">
      <form id="new-entry-form">
        <label for="title">Series Title</label><br />
        <input type="text" id="title" name="title" /><br />
        <label for="progress">Progress?</label><br />
        <input type="text" id="progress" name="progress" /><br />
        <label for="episodes">How many episodes have you seen?</label><br />
        <input type="text" id="episodes" name="episodes" /><br />
        <label for="rating">What did you think? (Enter 1-10)</label><br />
        <input type="text" id="rating" name="rating" /><br />
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-dark col-4">Save Entry</button>
        </div>
      </form>
    </section>

    <script src="/js/new-entry.js"></script>